.banner {
  position: relative;
  display: flex;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  height: 167px;
  background-position: center bottom;


  &--main {
    height: 389px;
    background-position: center -70px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    width: 100%;
    min-width: 322px;
    height: 57px;
    bottom: -1px;
    left: 0;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  @media (min-width: $medium) {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: cover;
    width: 100%;
    min-height: 303px;

    &--main {
      min-height: 518px;
    }

    &::after {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }
  }


  @media (min-width: $medium) {
    &::after {
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }
}

.banner__svg {
  @media (min-width: $medium) {
    width: 460px;
    height: 350px;
  }
}
