.container {
  position: relative;
  text-align: center;
  background-color: $accent-color;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 24px;

  @media (min-width: $medium) {
    @include text-reset;
    padding-top: 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 129px;
    max-width: 400px;
  }

  @media (min-width: $large) {
    padding-top: 55px;
    flex-basis: 400px;
  }

  &--triangle {
    padding-top: 45px;
    padding-bottom: 29px;

    @media (min-width: $medium) {
      @include text-reset;
      padding-top: 41px;
      padding-left: 1px;
    }

    @media (min-width: $large) {
      padding-top: 46px;
    }
  }

  &--triangle::before {
    content: "";
    position: absolute;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 322px;
    height: 37px;
    top: -1px;
    left: -1px;

    @media (min-width: $medium) {
      display: none;
    }
  }
}
