.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  // Андрей, посмотри пожста, почему не применяется свойство fill?

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: $accent-color;
  }

  &:active .copyright__icon {
    opacity: 0.3;
  }
}

.copyright__text {
  line-height: $title-line-height;
  text-transform: uppercase;
  padding-right: 13px;
  padding-bottom: 7px;
}
