.copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright__link {
  &:hover path,
  &:focus path {
    fill: $accent-color;
  }

  &:active path {
    opacity: 0.3;
  }
}

.copyright__text {
  line-height: $title-line-height;
  text-transform: uppercase;
  padding-right: 13px;
}
