.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $light-text;
  opacity: 0.9;
  width: 100%;
  min-height: 120px;
  padding-top: 35px;
  padding-bottom: 22px;
}
.social {
  @include list-reset;
  @include text-reset;
  display: flex;
}

.social__item {
  margin-right: 6px;
}

.social__link {
  &:hover rect, &:focus rect {
    fill: hsla(203, 42%, 58%, 1);
  }
  &:active rect {
    fill: hsla(202, 44%, 54%, 1);
  }
  &:active path {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}

.copyright__link {
  &:hover path, &:focus path {
    fill: hsla(203, 47%, 66%, 1);
  }
  &:active path {
    opacity: 0.3;
  }
}

.copyright__text {
  line-height: $title-line-height;
  text-transform: uppercase;
  padding-right: 13px;
}

.page-footer__hashtag {
  font-size: $hashtag-size;
  padding-bottom: 19px;
}
