.lead-form {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 286px;

  @media (min-width: $medium) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 458px;
    min-height: 318px;
  }
}

.lead-form__title {
  font-size: $hashtag-size;
  padding-top: 33px;
  margin-top: 0;
  margin-bottom: 24px;

  @media (min-width: $medium) {
    @include text-reset;
  }
}

.lead-form__description {
  line-height: $text-line-height;
  margin-bottom: 25px;

  @media (min-width: $medium) {
    @include text-reset;
    line-height: $text-line-height;
    margin-top: 37px;
    margin-bottom: 47px;
    max-width: 435px;
  }
}
