.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;

  @media (min-width: $medium) {
    padding-bottom: 0;
  }
}

.page-header__logo {
  position: absolute;
  height: 97px;
  top: 220px;
  left: calc(50% - 187px / 2);
  z-index: 1;

  @media (min-width: $medium) {
    top: 0;
  }
}

.page-header__logo path:first-child {
  fill: none;

  @media (min-width: $large) {
    fill: $accent-color;
  }
}
