.page {
  background-color: $light-text;
  color: $dark-title;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $text-size;
  line-height: $hashtag-size;
  margin: 0 auto;
}
