.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $light-text;
  opacity: 0.9;
  width: 100%;
  min-height: 120px;
  padding-top: 35px;
  padding-bottom: 22px;

  @media (min-width: $medium) {
    @include text-reset;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    min-height: 120px;
  }
}

.page-footer__hashtag {
  font-size: $hashtag-size;
  padding-bottom: 19px;

  @media (min-width: $medium) {
    padding-left: 57px;
    padding-top: 14px;
  }

  @media (min-width: $large) {
    padding-left: 0;
    padding-top: 11px;
    margin-left: 119px;
  }
}

.page-footer__copyright {
  margin-top: 35px;

  @media (min-width: $medium) {
    margin-right: 60px;
    align-self: start;
    margin-top: 43px;
  }

  @media (min-width: $large) {
    margin-right: 120px;
    margin-top: 39px;
  }
}
