.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;

  @media (min-width: $medium) {
    padding-bottom: 0;
  }
}

.page-header__logo {
  position: absolute;
  height: 97px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @media (min-width: $medium) {
    top: 0;
  }

  &--nojs {
    top: 224px;

    @media (min-width: $medium) {
      top: 0;
    }
  }
}

.page-header__toggle {
  @include text-reset;
  position: absolute;
  border: none;
  background-color: inherit;
  right: 19px;
  width: 23px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--close {
    top: 17px;
    background-image: url("../img/icon-cross.svg");
    background-size: 22px 22px;
  }

  &--open {
    bottom: 19px;
    background-image: url("../img/icon-menu.svg");
    background-size: 23px 21px;
    fill: $accent-color;
  }

  &--nojs {
    display: none;
  }

  @media (min-width: $medium) {
    display: none;
  }
}
