.page-main__title {
  margin-top: 32px;
  text-align: center;

  @media (min-width: $medium) {
    margin-top: 45px;
    margin-bottom: 34px;
  }

  @media (min-width: $large) {
    margin-top: 58px;
  }
}
