.photos {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  min-width: 280px;
  max-width: 100%;

  @media (min-width: $medium) {
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
  }

  @media (min-width: $large) {
    @include text-reset;
    width: 100%;
  }
}

.photos__link {
  @include text-reset;
}

.photos__item {
  padding-top: 23px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $dark-gray;

  @media (min-width: $medium) {
    @include text-reset;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: $input-color;
  }

  @media (min-width: $large) {
    width: 33%;
  }

  &--wide {
    width: 100%;
  }

  &:nth-of-type(2n + 3) {
    @media (min-width: $medium) {
      background-color: $gray-photo-info;
    }
  }
}

.photos__features {
  @media (min-width: $medium) {
    @include text-reset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: inherit;
  }
}

.photos__description {
  @include uppercase;
  font-weight: 700;
  line-height: $text-line-height;
  margin-bottom: 20px;
}

.photos__info {
  text-align: center;
  display: flex;
  max-width: 458px;

  @media (min-width: $medium) {
    margin-bottom: 65px;
    margin-left: auto;
    margin-right: auto;
  }

  @media (min-width: $large) {
    margin-bottom: 67px;
  }
}

.photos__title {
  max-width: 458px;

  @media (min-width: $medium) {
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: $title-big;
  }

  @media (min-width: $large) {
    margin-top: 102px;
  }
}

.photos__legend {
  line-height: $text-line-height;
  text-transform: none;
  margin-top: 0;
}

.photos__pic {
  min-width: 280px;
  min-height: 280px;
  width: 100%;

  @media (min-width: $medium) {
    @include text-reset;
    height: 267px;
    min-width: 324px;
    outline: 2px solid red;
  }

  @media (min-width: $large) {
    min-width: 400px;
    max-width: 100%;
  }

  &--wide {
    @media (min-width: $medium) {
      height: 400px;
    }
  }
}

.photos__like {
  width: 23px;
  height: 21px;
  border: none;
  background-color: inherit;
  outline: none;
  margin-right: 14px;

  &:hover path,
  &:focus path {
    opacity: 0.7;
  }

  &:active path {
    opacity: 0.9;
  }
}
