.photos {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
  min-width: 280px;
  max-width: 100%;

  @media (min-width: $medium) {
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
  }

  @media (min-width: $large) {
    @include text-reset;
    width: 100%;
  }
}

.photos__link {
  @include text-reset;

  @media (min-width: $large) {
    max-height: 400px;
  }

  &--small {
    @media (min-width: $large) {
      max-height: 267px;
    }
  }
}

.photos__item {
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $dark-gray;
  border-top: 1px solid $dark-gray;

  @media (min-width: $medium) {
    @include text-reset;
    position: relative;
    border: none;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: $input-color;
  }

  @media (min-width: $large) {
    width: 33.33%;
  }

  &--wide {
    width: 100%;
  }

  &:nth-of-type(2n + 3) {
    @media (min-width: $medium) {
      background-color: $gray-photo-info;
    }
  }
}

.photos__features {
  @media (min-width: $medium) {
    @include text-reset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: inherit;
    padding-bottom: 17px;
  }

  @media (min-width: $large) {
    position: absolute;
    bottom: 0;
    background-color: $gray-photo;
    color: $light-text;
    padding-bottom: 20px;
  }
}

.photos__description {
  @include uppercase;
  font-weight: 700;
  line-height: $text-line-height;
  margin-bottom: 20px;

  &--info {
    margin-bottom: 0;
  }
}

.photos__legend {
  line-height: $text-line-height;
  text-transform: none;
  margin-top: 0;

  @media (min-width: $large) {
    color: $light-text;
  }
}

.photos__pic {
  min-width: 280px;
  height: 280px;
  width: 100%;
  margin-bottom: 3px;
  background-color: $input-color;

  @media (min-width: $medium) {
    @include text-reset;
    height: 267px;
    min-width: 324px;
  }

  @media (min-width: $large) {
    min-width: 400px;
    max-width: 100%;
    position: relative;
  }

  &--wide {
    @media (min-width: $medium) {
      height: 400px;
    }
  }
}

.photos__like {
  width: 23px;
  height: 21px;
  border: none;
  background-color: inherit;
  outline: none;
  margin-right: 11px;
  padding-left: 0;

  @media (min-width: $medium) {
    padding-left: 10px;
    padding-bottom: 2px;
    padding-right: 17px;
  }
}

.photos__icon {
  opacity: 0.3;

  .photos__like:hover &,
  .photos__like:focus & {
    opacity: 0.7;
  }

  .photos__like:active & {
    opacity: 0.9;
  }

  @media (min-width: $large) {
    fill: $light-text;
    opacity: 1;
  }
}
