.site-list {
  @include list-reset;
  @include uppercase;
  color: $light-text;
  font-weight: 700;
  background-color: $accent-color; //временное свойство

  @media (min-width: $medium) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 56px;
    color: $dark-title;
    background-color: $light-text;
  }
}

.site-list__link {
  display: block;
  width: 100%;
  font-weight: inherit;
  color: inherit;
  text-decoration: none;
  font-size: $title-size;
  line-height: 40px;

  @media (min-width: $medium) {
    font-size: $text-size;
    line-height: $title-line-height;
    width: auto;
  }

  &:focus,
  &:active {
    color: $dark-text;
    opacity: 0.3;
    background-color: $light-text;
  }

  &--active {
    color: $gray-brown;
    cursor: pointer;
  }

  &--active:hover {
    color: $brown;
    background-color: $light-text;
  }

  &--active:active,
  &--active:focus {
    opacity: 0.3;
    background-color: $light-text;
  }
}

.site-list__item {
  @include button-style;
  box-shadow: 0 1px 0 $black-shadow,
    inset 0 1px 0 $gray-shadow;
  text-align: center;
  min-width: 320px;

  @media (min-width: $medium) {
    min-width: 153px;
    width: 20%;
    box-shadow: none;

    &:hover {
      background-color: $light-text;
      color: $accent-color;
    }

    &:nth-child(2) {
      margin-right: 20%;
    }
  }
}
