.social {
  @include list-reset;
  display: flex;
  margin-left: 2px;
  margin-top: 17px;

  @media (min-width: $medium) {
    margin-top: 0;
    margin-left: 0;
  }
}

.social__item {
  margin-right: 6px;
}

.social__link {
  &:hover rect,
  &:focus rect {
    fill: $accent-color-light;
  }

  &:active rect {
    fill: $accent-color-dark;
  }

  &:active path {
    opacity: 0.3;
  }
}
