.social {
  @include list-reset;
  display: flex;
  margin-left: 2px;
  margin-top: 17px;

  @media (min-width: $medium) {
    margin-top: 0;
    margin-left: 0;
  }
}

.social__item {
  margin-right: 6px;
}

.social__icon {
  fill: $accent-color;


  .social__link:hover &,
  .social__link:focus & {
    fill: $accent-color-light;
  }

  .social__link:active & {
    fill: $accent-color-dark;
  }

  &--path {
    fill: $light-text;

    .social__link:active & {
      fill: $light-social;
    }
  }
}

// Андрей, посмотри плиз, почему применилось первое свойство fill: $light-text, а второе не применилось? Код на 30 строке
